In [1]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests
from time import sleep
from random import randint
url="https://www.propertypro.ng/property-for-sale/house/in/lagos?search=&auto=&mode_hidden=&typed_hidden=&bedroom=&min_price=3000000&max_price=100000000&page=0"
headers={"Accept-Language”: “en-US,en;q=0.9,es;q=0.8"}
headers="Accept-Encoding”: “gzip"
headers={
    "User-Agent": "Mozilla/5.0 (X11; CrOS x86_64 14541.0.0) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/109.0.0.0 Safari/537.36"
}
sleep(randint(2,8))
response=requests.get(url,headers=headers)
response

In [2]:
response=response.content
soup=BeautifulSoup(response,"html.parser")

In [3]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests
from time import sleep
from random import randint
info=[]
for i in range(0,21):
    url= f"https://www.propertypro.ng/property-for-sale/house/in/lagos?search=&auto=&mode_hidden=&typed_hidden=&bedroom=&min_price=3000000&max_price=100000000&page={i}"
    
    response=requests.get(url)
    

    response=response.content
    soup=BeautifulSoup(response,"html.parser")
    div=soup.find("div",itemtype="https://schema.org/ItemList")
    housing=div.findAll("div",class_="single-room-sale listings-property")
    
    for house in housing:
        name=house.find(["h3","h4"],class_="listings-property-title2").text if house.find("h3",class_="listings-property-title2") else "Not FOUND"
        price=house.find("h3",class_="listings-price").text if house.find("h3",class_="listings-price") else np.nan
        location=house.find_all("h4")
        try:
            location=location[1].text
        except:
            pass
            
        #find_room=house.find_all("span") if house.find("span",[]) else[]
        #room=find_room
        find_=house.find("div",class_="fur-areea")
        try:
            room=(list(find_))[1].text
        except:
            pass
        try:
            bathroom=(list(find_))[3].text
        except:
            pass
        try:
            toilet=(list(find_))[5].text
        except:
            pass
        info.append([name, price, location, room, bathroom, toilet])
df=pd.DataFrame(info,columns=["Name","Price","Location","Bedroom","Bathroom","Toilet"])   
df

,Name,Price,Location,Bedroom,Bathroom,Toilet
0,Brand New Four Bedroom Semi Detached House Wit...,"₦ 75,000,000",Sapphire Gardens Estate Awoyaya Awoyaya Ajah L...,4 beds,4 baths,5 Toilets
1,3bedroom Massionette + Bq!!!,"₦ 100,000,000",Ogudu Gra Ogudu Lagos,3 beds,4 baths,4 Toilets
2,3bed Terrace+ Bq!!!,"₦ 100,000,000","Yabatech Gra, Jibowu Yaba Lagos",3 beds,4 baths,4 Toilets
3,5bed Duplex(self Compound)...,"₦ 90,000,000","Ifako, Gbagada Lagos",5 beds,6 baths,6 Toilets
4,"Newly Built 5 Bedroom Detached Duplex + Pool,e...","$ 3,000,000","Inside Banana Island Estate, Ikoyi, Lagos Bana...",5 beds,5 baths,6 Toilets
...,...,...,...,...,...,...
1087,4 Bedroom Semi Detached Duplex,"₦ 80,000,000",Ologolo Lekki Lagos,4 beds,5 baths,5 Toilets
1088,4 Bedroom Terrace Duplex,"₦ 65,000,000",Chevron Lekki Lagos,4 beds,5 baths,5 Toilets
1089,Newly Built 4 Bedroom Terrace Duplex,"₦ 65,000,000",Orchid Road Lekki Lagos,4 beds,4 baths,5 Toilets
1090,4 Bedroom Terrace Duplex With Bq,"₦ 60,000,000",Orchid Chevron Lekki Lagos,4 beds,5 baths,5 Toilets
1091,1 Bedroom Apartment,"₦ 35,000,000",Idado Lekki Lagos,1 beds,1 baths,1 Toilets

In [4]:
#importing the necessary libraries
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests
from time import sleep
from random import randint
#creating an emprt list and assign it to variable info
info=[]
#looping through webpages to extract the text within the, based on the below attributes
for i in range(21,71):
    #assigning the web link to a variable url
    url= f"https://www.propertypro.ng/property-for-sale/house/in/lagos?search=&auto=&mode_hidden=&typed_hidden=&bedroom=&min_price=3000000&max_price=100000000&page={i}"
    #requesting for the url using the request libaries and assign it to varibale
    response=requests.get(url)
    

    response=response.content #get the content within the url
    soup=BeautifulSoup(response,"html.parser")#parsing url
    div=soup.find("div",itemtype="https://schema.org/ItemList")
    housing=div.findAll("div",class_="single-room-sale listings-property")
    
    for house in housing:
        name=house.find(["h3","h4"],class_="listings-property-title2").text if house.find("h3",class_="listings-property-title2") else "Not FOUND"
        price=house.find("h3",class_="listings-price").text if house.find("h3",class_="listings-price") else np.nan
        location=house.find_all("h4")
        #using the try and except function ro skip likely error when looping through the webpage for a specific attribute
        try:
            location=location[1].text
        except:
            pass
            
        #find_room=house.find_all("span") if house.find("span",[]) else[]
        #room=find_room
        find_=house.find("div",class_="fur-areea")
        try:
            room=(list(find_))[1].text
        except:
            pass
        try:
            bathroom=(list(find_))[3].text
        except:
            pass
        try:
            toilet=(list(find_))[5].text
        except:
            pass
        info.append([name, price, location, room, bathroom, toilet])#putting the object inside the empty list info that was initially created
df1=pd.DataFrame(info,columns=["Name","Price","Location","Bedroom","Bathroom","Toilet"])  #converting into a dataframe and applying the neccesary columns 
df1

,Name,Price,Location,Bedroom,Bathroom,Toilet
0,2 Bedroom Apartment,"₦ 60,000,000",Ikate Lekki Lagos,2 beds,3 baths,3 Toilets
1,3 Bedroom Apartments,"₦ 85,000,000",Ikate Lekki Lagos,3 beds,4 baths,4 Toilets
2,Fully Serviced 3 Bedroom Massionette,"₦ 75,000,000",Orchid Chevron Lekki Lagos,3 beds,4 baths,4 Toilets
3,4 Bedroom Semi Detached Duplex,"₦ 70,000,000",Ikota Lekki Lagos,4 beds,5 baths,5 Toilets
4,4 Bedroom Semi Detached Duplex,"₦ 80,000,000",Chevron Lekki Lagos,4 beds,5 baths,5 Toilets
...,...,...,...,...,...,...
2595,Fully Furnished 4 Bedroom Detached Duplex With Bq,"₦ 100,000,000","Pearls Garden Estate,behind Shoprite Sangotedo...",4 beds,5 baths,5 Toilets
2596,4 Bedroom Detached Duplex,"₦ 100,000,000",Osapa London Lekki Lagos,4 beds,4 baths,5 Toilets
2597,4 Bedroom Duplex,"₦ 53,000,000",Lekki Lagos,4 beds,4 baths,5 Toilets
2598,Contemporary 5 Bedroom Detached Duplex,"₦ 85,000,000",Lekki Lagos,5 beds,5 baths,6 Toilets
2599,Luxury 4 Bedroom Semi Detached Duplex,"₦ 80,000,000",Ikota Estate Ikota Lekki Lagos,4 beds,4 baths,4 Toilets

In [5]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests
from time import sleep
from random import randint
info=[]
for i in range(71,101):
    url= f"https://www.propertypro.ng/property-for-sale/house/in/lagos?search=&auto=&mode_hidden=&typed_hidden=&bedroom=&min_price=3000000&max_price=100000000&page={i}"
    
    response=requests.get(url)
    

    response=response.content
    soup=BeautifulSoup(response,"html.parser")
    div=soup.find("div",itemtype="https://schema.org/ItemList")
    housing=div.findAll("div",class_="single-room-sale listings-property")
    
    for house in housing:
        name=house.find(["h3","h4"],class_="listings-property-title2").text if house.find("h3",class_="listings-property-title2") else "Not FOUND"
        price=house.find("h3",class_="listings-price").text if house.find("h3",class_="listings-price") else np.nan
        location=house.find_all("h4")
        try:
            location=location[1].text
        except:
            pass
            
        #find_room=house.find_all("span") if house.find("span",[]) else[]
        #room=find_room
        find_=house.find("div",class_="fur-areea")
        try:
            room=(list(find_))[1].text
        except:
            pass
        try:
            bathroom=(list(find_))[3].text
        except:
            pass
        try:
            toilet=(list(find_))[5].text
        except:
            pass
        info.append([name, price, location, room, bathroom, toilet])
df2=pd.DataFrame(info,columns=["Name","Price","Location","Bedroom","Bathroom","Toilet"])   
df2

,Name,Price,Location,Bedroom,Bathroom,Toilet
0,4 Bedroom Semi Detached Duplex,"₦ 75,000,000",Orchid Lekki Lagos,0 beds,0 baths,0 Toilets
1,Newly Built 4 Bedroom Semi Detached Duplex Wit...,"₦ 65,000,000",Thomas Estate Ajah Lagos,4 beds,4 baths,5 Toilets
2,Luxury 4 Bedroom Detached Duplex,"₦ 72,000,000",Ikota Lekki Lagos,4 beds,4 baths,4 Toilets
3,4 Bedroom Semi Detached Duplex,"₦ 35,000,000",Lekki Lagos,4 beds,4 baths,5 Toilets
4,1 Bedroom Block Of Flat,"₦ 46,000,000",Ikate Lekki Lagos,1 beds,1 baths,2 Toilets
...,...,...,...,...,...,...
1555,3 Bedroom Duplex,"₦ 50,000,000",Agungi Lekki Lagos,3 beds,3 baths,4 Toilets
1556,4 Bedroom Fully Detached Duplex,"₦ 95,000,000",Ikota Gra Lekki Lagos,4 beds,4 baths,5 Toilets
1557,Newly Built 2 Bedroom Terrace Duplex,"₦ 42,000,000",Ikota Lekki Lagos,2 beds,2 baths,3 Toilets
1558,Brand New 4 Bedroom Detached Duplex,"₦ 95,000,000",Ikota Lekki Lagos,4 beds,4 baths,5 Toilets
1559,4 Bedroom Semi Detached Duplex,"₦ 85,000,000/year",Chevron Lekki Lagos,4 beds,4 baths,5 Toilets

In [6]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests
from time import sleep
from random import randint
info=[]
for i in range(101,131):
    url= f"https://www.propertypro.ng/property-for-sale/house/in/lagos?search=&auto=&mode_hidden=&typed_hidden=&bedroom=&min_price=3000000&max_price=100000000&page={i}"
    
    response=requests.get(url)
    

    response=response.content
    soup=BeautifulSoup(response,"html.parser")
    div=soup.find("div",itemtype="https://schema.org/ItemList")
    housing=div.findAll("div",class_="single-room-sale listings-property")
    
    for house in housing:
        name=house.find(["h3","h4"],class_="listings-property-title2").text if house.find("h3",class_="listings-property-title2") else "Not FOUND"
        price=house.find("h3",class_="listings-price").text if house.find("h3",class_="listings-price") else np.nan
        location=house.find_all("h4")
        try:
            location=location[1].text
        except:
            pass
            
        #find_room=house.find_all("span") if house.find("span",[]) else[]
        #room=find_room
        find_=house.find("div",class_="fur-areea")
        try:
            room=(list(find_))[1].text
        except:
            pass
        try:
            bathroom=(list(find_))[3].text
        except:
            pass
        try:
            toilet=(list(find_))[5].text
        except:
            pass
        info.append([name, price, location, room, bathroom, toilet])
df3=pd.DataFrame(info,columns=["Name","Price","Location","Bedroom","Bathroom","Toilet"])   
df3

,Name,Price,Location,Bedroom,Bathroom,Toilet
0,2 Bedroom Apartment,"₦ 67,000,000",Ikate Lekki Lagos,2 beds,3 baths,3 Toilets
1,3 Units 2 Bedroom Flat,"₦ 47,000,000",Avenue Okota Lagos,2 beds,2 baths,2 Toilets
2,4 Bedroom Terrace Duplex,"₦ 75,000,000",Idado Lekki Lagos,4 beds,4 baths,5 Toilets
3,4 Bedroom Duplex,"₦ 77,000,000",Magodo Kosofe Ikosi Lagos,4 beds,4 baths,0 Toilets
4,Luxury 4 Bedroom Semi Detached Duplex,"₦ 95,000,000",Ologolo Lekki Lagos,4 beds,4 baths,5 Toilets
...,...,...,...,...,...,...
1555,Blocks Of Flat,"₦ 24,000,000","Ikola, Command Ipaja Lagos",1 beds,2 baths,2 Toilets
1556,4 Bedroom Bungalow,"₦ 30,000,000",Ijegun Ikotun Axis Ikotun Igando Lagos,4 beds,4 baths,4 Toilets
1557,5 Bedroom Semi Detached Duplex,"₦ 90,000,000",Obawole Ogba Lagos,0 beds,0 baths,0 Toilets
1558,4 Bedroom Semi Detached Duplex With Bq,"₦ 95,000,000",Chevron Lekki Lagos,4 beds,0 baths,0 Toilets
1559,5 Numbers 4 Bedroom House,"₦ 30,000,000",Adeniran Ogunsanya Surulere Lagos,0 beds,0 baths,0 Toilets

In [7]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests
from time import sleep
from random import randint
info=[]
for i in range(131,161):
    url= f"https://www.propertypro.ng/property-for-sale/house/in/lagos?search=&auto=&mode_hidden=&typed_hidden=&bedroom=&min_price=3000000&max_price=100000000&page={i}"
    
    response=requests.get(url)
    

    response=response.content
    soup=BeautifulSoup(response,"html.parser")
    div=soup.find("div",itemtype="https://schema.org/ItemList")
    housing=div.findAll("div",class_="single-room-sale listings-property")
    
    for house in housing:
        name=house.find(["h3","h4"],class_="listings-property-title2").text if house.find("h3",class_="listings-property-title2") else "Not FOUND"
        price=house.find("h3",class_="listings-price").text if house.find("h3",class_="listings-price") else np.nan
        location=house.find_all("h4")
        try:
            location=location[1].text
        except:
            pass
            
        #find_room=house.find_all("span") if house.find("span",[]) else[]
        #room=find_room
        find_=house.find("div",class_="fur-areea")
        try:
            room=(list(find_))[1].text
        except:
            pass
        try:
            bathroom=(list(find_))[3].text
        except:
            pass
        try:
            toilet=(list(find_))[5].text
        except:
            pass
        info.append([name, price, location, room, bathroom, toilet])
df4=pd.DataFrame(info,columns=["Name","Price","Location","Bedroom","Bathroom","Toilet"])   
df4

,Name,Price,Location,Bedroom,Bathroom,Toilet
0,Block Of Flats,"₦ 30,000,000",Ijegun Ikotun Igando Lagos,beds,baths,Toilets
1,Newly Built 4 Bedroom Terrace Duplex,"₦ 58,000,000",Chevron Lekki Lagos,4 beds,4 baths,5 Toilets
2,4 Bedroom Terrace Duplex,"₦ 58,000,000",Ikota Lekki Lagos,4 beds,4 baths,5 Toilets
3,4 Bedroom Duplex,"₦ 65,000,000",Osapa Osapa London Lekki Lagos,4 beds,4 baths,5 Toilets
4,8 Units 2 Bedroom Apartment,"₦ 80,000,000",Ajangbadi Ojo Lagos,2 beds,2 baths,2 Toilets
...,...,...,...,...,...,...
1555,3 Bedroom Bungalow,"₦ 20,000,000","@ Casso Bus Stop, Directly Facing Along Lagos/...",3 beds,3 baths,3 Toilets
1556,3 Bedroom Bungalow,"₦ 35,000,000",Thomas Estate Ajah Lagos,3 beds,0 baths,0 Toilets
1557,3 Bedroom Apartment,"₦ 75,000,000",Adeniyi Jones Ikeja Lagos,3 beds,3 baths,3 Toilets
1558,3 Bedroom Flat,"₦ 25,000,000",Yakoyo Alagbole Ojodu Lagos,3 beds,0 baths,0 Toilets
1559,Well Maintained 3 Bedroom Bungalow,"₦ 10,000,000",Iju Ishaga Agege Lagos,3 beds,baths,Toilets

In [12]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests
from time import sleep
from random import randint
info=[]
for i in range(131,199):
    url= f"https://www.propertypro.ng/property-for-sale/house/in/lagos?search=&auto=&mode_hidden=&typed_hidden=&bedroom=&min_price=3000000&max_price=100000000&page={i}"
    
    response=requests.get(url)
    

    response=response.content
    soup=BeautifulSoup(response,"html.parser")
    div=soup.find("div",itemtype="https://schema.org/ItemList")
    housing=div.findAll("div",class_="single-room-sale listings-property")
    
    for house in housing:
        name=house.find(["h3","h4"],class_="listings-property-title2").text if house.find("h3",class_="listings-property-title2") else "Not FOUND"
        price=house.find("h3",class_="listings-price").text if house.find("h3",class_="listings-price") else np.nan
        location=house.find_all("h4")
        try:
            location=location[1].text
        except:
            pass
            
        #find_room=house.find_all("span") if house.find("span",[]) else[]
        #room=find_room
        find_=house.find("div",class_="fur-areea")
        try:
            room=(list(find_))[1].text
        except:
            pass
        try:
            bathroom=(list(find_))[3].text
        except:
            pass
        try:
            toilet=(list(find_))[5].text
        except:
            pass
        info.append([name, price, location, room, bathroom, toilet])
df5=pd.DataFrame(info,columns=["Name","Price","Location","Bedroom","Bathroom","Toilet"])   
df5

,Name,Price,Location,Bedroom,Bathroom,Toilet
0,4 Bedroom Bungalow,"₦ 30,000,000",Ijegun Ikotun Axis Ikotun Igando Lagos,4 beds,4 baths,4 Toilets
1,5 Bedroom Semi Detached Duplex,"₦ 90,000,000",Obawole Ogba Lagos,0 beds,0 baths,0 Toilets
2,4 Bedroom Semi Detached Duplex With Bq,"₦ 95,000,000",Chevron Lekki Lagos,4 beds,0 baths,0 Toilets
3,5 Numbers 4 Bedroom House,"₦ 30,000,000",Adeniran Ogunsanya Surulere Lagos,0 beds,0 baths,0 Toilets
4,Block Of Flats,"₦ 30,000,000",Ijegun Ikotun Igando Lagos,beds,baths,Toilets
...,...,...,...,...,...,...
3490,Serviced 4 Bedroom Terrace Duplex With Bq,"₦ 57,000,000",Sangotedo Ajah Lagos,4 beds,4 baths,5 Toilets
3491,4 Bedroom Semi Detached Duplex,"₦ 80,000,000",Orchid Road Chevron Chevron Lekki Lagos,4 beds,4 baths,5 Toilets
3492,Story Building,"₦ 90,000,000",Ojota Lagos,5 beds,5 baths,5 Toilets
3493,4 Units Of 3 Bedroom Flat,"₦ 100,000,000",Mende Maryland Lagos,0 beds,0 baths,0 Toilets
3494,Not FOUND,NaN,[],0 beds,0 baths,0 Toilets

In [14]:
df=pd.concat([df,df1,df2,df3,df4,df5],axis="rows")
df

,Name,Price,Location,Bedroom,Bathroom,Toilet
0,Brand New Four Bedroom Semi Detached House Wit...,"₦ 75,000,000",Sapphire Gardens Estate Awoyaya Awoyaya Ajah L...,4 beds,4 baths,5 Toilets
1,3bedroom Massionette + Bq!!!,"₦ 100,000,000",Ogudu Gra Ogudu Lagos,3 beds,4 baths,4 Toilets
2,3bed Terrace+ Bq!!!,"₦ 100,000,000","Yabatech Gra, Jibowu Yaba Lagos",3 beds,4 baths,4 Toilets
3,5bed Duplex(self Compound)...,"₦ 90,000,000","Ifako, Gbagada Lagos",5 beds,6 baths,6 Toilets
4,"Newly Built 5 Bedroom Detached Duplex + Pool,e...","$ 3,000,000","Inside Banana Island Estate, Ikoyi, Lagos Bana...",5 beds,5 baths,6 Toilets
...,...,...,...,...,...,...
3490,Serviced 4 Bedroom Terrace Duplex With Bq,"₦ 57,000,000",Sangotedo Ajah Lagos,4 beds,4 baths,5 Toilets
3491,4 Bedroom Semi Detached Duplex,"₦ 80,000,000",Orchid Road Chevron Chevron Lekki Lagos,4 beds,4 baths,5 Toilets
3492,Story Building,"₦ 90,000,000",Ojota Lagos,5 beds,5 baths,5 Toilets
3493,4 Units Of 3 Bedroom Flat,"₦ 100,000,000",Mende Maryland Lagos,0 beds,0 baths,0 Toilets
3494,Not FOUND,NaN,[],0 beds,0 baths,0 Toilets

In [15]:
df.to_csv("Housingdetails.csv",index=False)